env/
magic_online_metagame_crawler.egg-info/
config.json
leaderboard_positions.json
deck_monitor_cache.json
deck_monitor_config.json
deck_cache.json
box.png
filtered_only_white.png
trade_request.png
__pycache__/
curr_deck.txt